ece_domain                          = "ece.yourdomain.com"
letsencrypt_email                   = "someone@yourdomain.com"
public_ssh_key_path                 = "~/.ssh/id_rsa.pub"
private_ssh_key_path                = "~/.ssh/id_rsa"
domain                              = "domain.com"
deploy_network_with_vpn             = true
deploy_ece                          = false
deploy_kubernetes                   = true
update_kube_config                  = false
deploy_argocd                       = true
deploy_internal_cluster_helm_charts = false
